{% extends 'base.html' %}
{% load static %}
{% block content %}

  
<div class="container" >
    <div class="row custom-row">
        <div class="col-lg-5 col-12 hola " style=" margin-top: 150px; padding: 50px;">
            <div class="cardv3">
                <div class="post-headerRight">
                    <h2>Mi Perfil</h2>
                        <button class="bottonEdit"><a class="nav-link" href="{% url 'User:edit_profile' %}">
                            <i class="bi bi-newspaper"></i>
                            <span>Editar Perfil</span>
                        </a>      
                </div>
                <!-- contenido de la sección izquierda -->
                <h5>{{ user.username }}</h5>
                <!-- Mostrar preferencias, intereses y nivel de dominio -->
                <p style="color:white"><strong >Correo Electrónico:</strong> {{ user.email }}</p>
                <p style="color:white"><strong>Preferencias:</strong> {{ user.userprofile.preferencias }}</p>
                <div class="table-responsive">
                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th>Interés</th>
                                <th>Nivel de Dominio</th>
                                <th>Categoría de Dominio</th> <!-- Nueva columna -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for interest, dominion in dominions.items %}
                                {% if interest %}
                                    {% with dominion_int=dominion|default:''|add:0 %}
                                        {% if dominion_int is not None %}
                                            {% if dominion_int != 'Desconocido' %}
                                                <tr>
                                                    <td>{{ interest }}</td>
                                                    <td>{{ dominion }}</td>
                                                    <td>
                                                        {% if dominion_int >= 1 and dominion_int <= 3 %}
                                                            Aprendiz
                                                        {% elif dominion_int >= 4 and dominion_int <= 6 %}
                                                            Intermedio
                                                        {% elif dominion_int >= 7 and dominion_int <= 10 %}
                                                            Avanzado
                                                        {% else %}
                                                            Desconocido
                                                        {% endif %}
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-7 col-12" style="margin-top:150px">
            <div class="card" >
                <!--  botón que abrirá el modal -->
                <button type="button" class="btn btn-custom mx-auto" data-toggle="modal" data-target="#myModal" style="background-color: #e7e7e7; border-radius: 15px;width:85%;margin:10px">
                    ¿Qué quieres subir?
                </button>  
                <div class="text-center">
                    <hr style="border-top: 2px solid #808080; width: 80%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                </div>
                  
                  <button type="button" class="btn btn-custom mx-auto" data-toggle="modal" data-target="#myModal" style="background-color: #e7e7e7; border-radius: 15px; width:80%; margin:10px;">
                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                </button>
                <!--  modal publicacion-->
                <div class="modal" id="myModal" >
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Encabezado del modal -->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" style="color:black">Nueva Publicacion</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <!-- Cuerpo del modal -->
                            <div class="modal-body" style="color:black">
                                <h5 style="color:black">{{ user.username }}</h5>
                                <form class="center-text" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden"  name="publicar" value="1">
                                    {{ post_form.titulo }}
                                    <div class="text-center" style="margin:15px;">
                                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                                    </div>
                                   
                                    {{ post_form.contenido }}
                                    
                                    <input type="file" name="archivo_adjunto" style="width:100%;height:150px;background:url({% static 'images/da.png' %});background-size:cover;color:white">
                                    <div class="text-center">
                                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                                    </div>
                                    <button type="submit" class="button-publicar">Publicar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
           
            </div>
       

            {% for post in posts %}
            {% with comment_count=post.comments.count %}
                <div class="modal" id="comentariosModal{{ post.id }}" style="word-break: break-all;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center" style="color: black;">Comentarios ({{ comment_count }})</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body" style="color:black">
                                <div class="post-header">
                                    <p>{{ post.autor.username }}</p>
                                    <div class="post-date"><p>{{ post.fecha_publicacion }}</p></div>
                                </div>
                                <h3 style="color:black">{{ post.titulo }}</h3>
                                <div class="post-content" style="padding:5px;background-color:#d4d4d4;border-radius:5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                    {{ post.contenido|safe }}
                                </div>
                                {% if post.archivo_adjunto %}
                            Descargar: 
                            <a href="{{ post.archivo_adjunto.url }}" download>
                                {{ post.nombre_archivo }}
                                {% if ".docx" in post.nombre_archivo %}
                                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".xls" in post.nombre_archivo %}
                                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pdf" in post.nombre_archivo %}
                                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pptx" in post.nombre_archivo %}
                                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".mpp" in post.nombre_archivo %}
                                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% endif %}
                            </a>
                        {% endif %}
                                <ul class="list-group">
                                    {% for comment in post.comments.all %}
                                        <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
                                            <div class="comment" style="max-width:80%">
                                                <div style="font-weight: bold;">
                                                    {{ comment.author.username }}:
                                                </div>
                                                <div >
                                                    {{ comment.contenido }}
                                                </div>
                                                <div class="text-center">
                                                    <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                                                </div>
                                            </div>                 
                                            {% if comment.author == user %}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="bi-three-dots"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item" href="#">Editar</a>
                                                        <form method="post" action="{% url 'User:eliminar_comentario' comment.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="dropdown-item" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?')">Eliminar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                                
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <form class="center-text" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <input type="hidden"  name="comentar" value="1">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="button-comentar">Comentar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="cardv2" >
                    <div class="post-header">
                        <p style="color: black; font-weight: bold;">{{ post.autor.username }}</p>
                        <div class="post-date"><p style="color: black; font-weight: bold;" >{{ post.fecha_publicacion }}</p></div>

                    </div>
                    <h3 style="color:white">{{ post.titulo }}</h3>
                    <div class="post-content" style="background-color:#d4d4d4;border-radius:5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        {{ post.contenido|safe }}
                    </div>
                    <div class="post-footer" >
                        {% if post.archivo_adjunto %}
                            Descargar: 
                            <a  style="word-break: break-all;" href="{{ post.archivo_adjunto.url }}" download >
                                {{ post.nombre_archivo }}
                                {% if ".docx" in post.nombre_archivo %}
                                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".xls" in post.nombre_archivo %}
                                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pdf" in post.nombre_archivo %}
                                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pptx" in post.nombre_archivo %}
                                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".mpp" in post.nombre_archivo %}
                                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    <div class="post-footer" style="display: flex; justify-content: space-between; align-items: center;">
                        <!-- Botón para eliminar la publicación -->
                        <form method="post" action="{% url 'User:eliminar_publicacion' post.id %}">
                            {% csrf_token %}
                            <button style="background-color:#d4d4d4;border-radius:5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" type="submit" class="button-delete"  onclick="confirmarEliminacion()">Eliminar<i class="bi bi-trash3"></i></button>
                        </form>
                        <span style="color: black; font-weight: bold;" >{{ comment_count }} comentarios</span>
                    </div>
                    <div class="text-center">
                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                    </div>
                    <button class="button-comentarios" data-toggle="modal" data-target="#comentariosModal{{ post.id }}" style="width:100%; border: 2px solid transparent;">Comentarios</button>
                    <div class="text-center">
                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                    </div>
                </div>
            {% endwith %}
            {% endfor %}   
        </div>
    </div>
    
</div>
<script>
    function confirmarEliminacion() {
        if (confirm('¿Estás seguro de que deseas eliminar esta publicación?')) {
            // Si el usuario confirma, envía el formulario
            document.forms[0].submit();
        } else {
            // Si el usuario cancela, no se envía el formulario
        }
    }
</script>

{% endblock %}
