{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row custom-row">
        <!-- Sección izquierda -->
        <div class="col-lg-5 col-12 hola" style="margin-top: 150px; padding: 50px;">
            <div class="cardv3">
                <div class="post-headerRight">
                    <h2>Detalles del Grupo</h2>
                    {% if user.is_authenticated and user == group.administrador %}
                        <button class="bottonEdit">
                            <a class="nav-link" href="{% url 'User:editar_grupo' group.id %}">
                                <i class="bi bi-newspaper"></i>
                                <span>Editar Grupo</span>
                            </a>
                        </button>
                    {% endif %}
                </div>
                <h5>{{ group.nombre }}</h5>
                <p><strong>Descripción:</strong> {{ group.descripcion }}</p>
                <p><strong>Administrador:</strong> {{ group.administrador.username }}</p>

                
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th>Usuarios:</th>
    
                        </tr>
                    </thead>
                    <tbody>
                        {% if group.miembros.exists %}
                            {% for member in group.miembros.all %}
                            <tr>
                                <td>{{ member.username }}</td>
                    
                              
                               
                            </tr>
                            
                            {% endfor %}
                        {% else %}
                            <tr>
                                <td colspan="2">Este grupo no tiene miembros.</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                
                
            </div>
        </div>

        <!-- Sección derecha -->
        <div class="col-lg-7 col-12" style="margin-top: 150px">
            <div class="card">
                <!-- Botón para abrir el modal de publicación -->
                <button type="button" class="btn btn-custom mx-auto" data-toggle="modal" data-target="#myModal"
                    style="background-color: #e7e7e7; border-radius: 15px; width:85%; margin:10px">
                    ¿Qué quieres subir?
                </button>
                <div class="text-center">
                    <hr style="border-top: 2px solid #808080; width: 80%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                </div>
                  
                  <button type="button" class="btn btn-custom mx-auto" data-toggle="modal" data-target="#myModal" style="background-color: #e7e7e7; border-radius: 15px; width:80%; margin:10px;">
                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px; margin-right: 35px;">
                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                </button>
                <div class="text-center">
                    <hr style="border-top: 2px solid #808080; width: 80%; margin: 0 auto;">
                </div>

                <!-- Modal de nueva publicación -->
                <div class="modal" id="myModal">
                    <!-- Contenido del modal -->
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <!-- Encabezado del modal -->
                            <div class="modal-header">
                                <h4 class="modal-title text-center" style="color: black;">Nueva Publicacion</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <!-- Cuerpo del modal -->
                            <div class="modal-body" style="color:black">
                                <h5 style="color:black">{{ user.username }}</h5>
                                <form class="center-text" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="publicar" value="1">
                                    {{ post_form.as_p }}
                                    <button type="submit" class="button-publicar">Publicar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            {% for post in posts %}
            {% with comment_count=post.comments.count %}
                <div class="modal" id="comentariosModal{{ post.id }}" style="word-break: break-all;">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title text-center" style="color: black;">Comentarios ({{ comment_count }})</h4>
                                <button type="button" class="close" data-dismiss="modal">×</button>
                            </div>
                            <div class="modal-body" style="color:black">
                                <div class="post-header">
                                    <p>{{ post.autor.username }}</p>
                                    <div class="post-date"><p>{{ post.fecha_publicacion }}</p></div>
                                </div>
                                <h3 style="color:black">{{ post.titulo }}</h3>
                                <div class="post-content" style="padding:5px;background-color:#d4d4d4;border-radius:5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                                    {{ post.contenido|safe }}
                                </div>
                                {% if post.archivo_adjunto %}
                            Descargar: 
                            <a href="{{ post.archivo_adjunto.url }}" download>
                                {{ post.nombre_archivo }}
                                {% if ".docx" in post.nombre_archivo %}
                                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".xls" in post.nombre_archivo %}
                                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pdf" in post.nombre_archivo %}
                                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pptx" in post.nombre_archivo %}
                                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".mpp" in post.nombre_archivo %}
                                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% endif %}
                            </a>
                        {% endif %}
                                <ul class="list-group">
                                    {% for comment in post.comments.all %}
                                        <li class="list-group-item" style="display: flex; justify-content: space-between; align-items: center;">
                                            <div class="comment" style="max-width:80%">
                                                <div style="font-weight: bold;">
                                                    {{ comment.author.username }}:
                                                </div>
                                               
                                                <div >
                                                    {{ comment.contenido }}
                                                </div>
                                                <div class="text-center">
                                                    <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                                                </div>
                                            </div>
                                            {% if comment.author == user %}
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="bi-three-dots"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        {% comment %} <a class="dropdown-item" href="#">Editar</a> {% endcomment %}
                                                        <form method="post" action="{% url 'User:eliminar_comentario_grupo' comment.id %}">
                                                            {% csrf_token %}
                                                            <button type="submit" class="dropdown-item" onclick="return confirm('¿Estás seguro de que deseas eliminar este comentario?')">Eliminar</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        </li>
                                    {% endfor %}
                                </ul>
                                <form class="center-text" method="post">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <input type="hidden"  name="comentar" value="1">
                                    <input type="hidden" name="post_id" value="{{ post.id }}">
                                    <button type="submit" class="button-comentar">Comentar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cardv2">
                    {% if user != post.autor %}
                        <form method="post" action="{% url 'User:calificar_publicacion_grupo' post.id %}" class="form-estrellas">
                            {% csrf_token %}
                            <div class="estrellas">
                                <input type="radio" id="estrella5" name="calificacion" value="5"><label for="estrella5">★</label>
                                <input type="radio" id="estrella4" name="calificacion" value="4"><label for="estrella4">★</label>
                                <input type="radio" id="estrella3" name="calificacion" value="3"><label for="estrella3">★</label>
                                <input type="radio" id="estrella2" name="calificacion" value="2"><label for="estrella2">★</label>
                                <input type="radio" id="estrella1" name="calificacion" value="1"><label for="estrella1">★</label>
                            </div>
                            
                            <button type="submit" class="btn" style="background-color:rgb(0, 255, 0)">Guardar</button>

                        </form>
                    {% endif %}

                        
                    <span style="color:black">Total Estrellas: {{ post.total_calificaciones }}</span>

                    
                    
                    {% if user == post.autor or user == group.administrador %}
                        <div class="post-header">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi-three-dots"></i>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            
                                    
                                        <form method="post" action="{% url 'User:eliminar_publicacion_grupo' post.id %}">
                                            {% csrf_token %}
                                            <button style="background-color:transparent" class="dropdown-item" type="submit"   onclick="confirmarEliminacion()">Borrar</button>
                                        </form>
                                        
                                </div>
                            </div>
                            
                            
                            <p style="color: black; font-weight: bold;">{{ post.autor.username }}</p>
                            <div class="post-date"><p style="color: black; font-weight: bold;" >{{ post.fecha_publicacion }}</p></div>
                        </div>
                    {% endif %}
                    <h3 style="color:black">{{ post.titulo }}</h3>
                    <div class="post-content" style="background-color:#d4d4d4;border-radius:5px;box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
                        {{ post.contenido|safe }}
                    </div>
                    <div class="post-footer">
                        {% if post.archivo_adjunto %}
                            Descargar: 
                            <a href="{{ post.archivo_adjunto.url }}" download>
                                {{ post.nombre_archivo }}
                                {% if ".docx" in post.nombre_archivo %}
                                    <img src="{% static 'images/palabra.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".xls" in post.nombre_archivo %}
                                    <img src="{% static 'images/sobresalir.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pdf" in post.nombre_archivo %}
                                    <img src="{% static 'images/pdf.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".pptx" in post.nombre_archivo %}
                                    <img src="{% static 'images/powerpoint.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% elif ".mpp" in post.nombre_archivo %}
                                    <img src="{% static 'images/proyecto.png' %}" alt="Logo Mediano" class="img-fluid" style="width:30px;height:30px;">
                                {% endif %}
                            </a>
                        {% endif %}
                    </div>
                    
                    <div class="post-footer" style="display: flex; justify-content: space-between; align-items: center;">
                        <!-- Botón para eliminar la publicación -->
                        

                        
                        <span style="color: black; font-weight: bold;" >{{ comment_count }} comentarios</span>
                    </div>
                    <div class="text-center">
                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                    </div>
                    <button class="button-comentarios" data-toggle="modal" data-target="#comentariosModal{{ post.id }}" style="width:100%; border: 2px solid transparent;">Comentarios</button>
                    <div class="text-center">
                        <hr style="border-top: 2px solid #808080; width: 100%; margin: 0 auto;"> <!-- Centra la línea horizontalmente -->
                    </div>
                </div>
            {% endwith %}
            {% endfor %}   

        </div>
    </div>
</div>

<!-- Script para confirmar eliminación -->
<script>
    function confirmarEliminacion() {
        if (confirm('¿Estás seguro de que deseas eliminar esta publicación?')) {
            // Si el usuario confirma, envía el formulario
            document.forms[0].submit();
        } else {
            // Si el usuario cancela, no se envía el formulario
        }
    }
        // Cuando el usuario selecciona una calificación...
    document.querySelectorAll('.estrellas input[type="radio"]').forEach(function(radio) {
        radio.addEventListener('change', function() {
            // Guarda la calificación en el almacenamiento local.
            localStorage.setItem('calificacion', this.value);
        });
    });

    // Cuando la página se carga...
    document.addEventListener('DOMContentLoaded', function() {
        // Recupera la calificación del almacenamiento local.
        var calificacion = localStorage.getItem('calificacion');

        // Si hay una calificación guardada...
        if (calificacion) {
            // Marca la estrella correspondiente.
            document.getElementById('estrella' + calificacion).checked = true;
        }
    });

    
</script>

{% endblock %}
