{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center" style="height: 100vh;">
        <div class="col-12 d-flex align-items-center justify-content-center">
            <div class="Recuadro" style="height: auto">
                <h2 class="text-center bg-purple text-white py-2 rounded">Recuperación de Contraseña</h2>
                <p class="text-center">Hemos enviado un correo electrónico con instrucciones para restablecer tu contraseña. Por favor, revisa tu bandeja de entrada.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}