<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restablecer Contraseña</title>
</head>
<body>
    <p>Hola {{ user.username }},</p>
    <p>Recibiste este correo electrónico porque solicitaste restablecer tu contraseña en nuestro sitio web.</p>
    <p>Para cambiar tu contraseña, haz clic en el siguiente enlace:</p>
    <p><a href="{{ reset_url }}">Restablecer Contraseña</a></p>
    <p>Si no solicitaste este restablecimiento, puedes ignorar este correo electrónico y tu contraseña seguirá siendo la misma.</p>
    <p>Gracias,</p>
    <p>El equipo de nuestro sitio web</p>
</body>
</html>
